Generator-

In [58]:
def f1():
    yield 1
    yield "hello"
    yield 3
    
for i in f1():
    print(i)

1
hello
3

In [59]:
def f1():
    yield 4*5
    yield "hi"
    yield {1,2,3}
    yield [x+3 for x in range(4,7)]
a = f1()
for i in a:
    print(i)

20
hi
{1, 2, 3}
[7, 8, 9]

Generator - object :-

In [17]:
r = [1,2,3,4]
def sqr():
    for i in r:
        yield i**2
        
a = sqr()
        
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
4
9
16

In [18]:
def cube():
    for i in range(5):
        yield i**3
        
num =cube()

print(next(num))
print(next(num))
print(next(num))
print(next(num))

0
1
8
27

In [27]:
def cube3():
    for i in range(5,10):
        yield i**3

In [29]:
n=cube3()
for i in n:
    print(i)

125
216
343
512
729

Function Inside Function

In [38]:
def fun1():
    return "Happy New year"

res = fun1()
print (res)

Happy New year

In [42]:
def outer():
    def inner():
        print("inside inner () function.")
    return inner
    
res = outer()
res()

inside inner () function.

In [43]:
def outer():
    def inner():
        print("inner inner() functiom")
    inner()
outer()

inner inner() functiom

Decorator:-

In [54]:
def decorator_fun(original_fun):
    def wrapper_fun():
        return original_fun()
    return wrapper_fun
    
def display():
    print('this is wrapped function')

In [55]:
t1 = decorator_fun(display)
t1()

this is wrapped function

Decorators with args and kwargs

In [60]:
def decorator_fun(original_fun):
    def wrapper_fun(*args):
        print('First Statement')
        return original_fun(*args)
    return wrapper_fun

@decorator_fun
def display():
    print('This is wrapped function')

@decorator_fun
def display_info(name,age):
    print('Name is {} and age is {}'.format(name,age))

In [61]:
display()

First Statement
This is wrapped function

In [62]:
display_info('Manoj',34)

First Statement
Name is Manoj and age is 34